<%= form_for([:admin, @member], :html => {:class => 'form-horizontal'}) do |f| %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h4><%= @member.full_name %></h4>
			<p><%= f.submit button_label, :class => 'btn btn-primary' %></p>

			<% if @pending_updates && @pending_updates.count > 0 %>
				<h5>Pending updates</h5>
				<ul>
					<% @pending_updates.each do |pending_update| %>
					<li><%= pending_update.description %></li>
					<% end %>
				</ul>
				<%= link_to content_tag(:button, "Delete pending updates", :class => "btn btn-warning btn-small"),
					destroy_delayed_updates_admin_member_url(@member), :method => "delete" %>
			<% end %>

		</div>

		<div class="col-md-9">
			<%= build_control(f, @member, nil, :first_name, 'text').html_safe %>
			<%= build_control(f, @member, nil, :last_name, 'text').html_safe %>
			<%= build_control(f, @member, nil, :email, 'text').html_safe %>
			<%= build_control(f, @member, nil, :task, 'text').html_safe %>
			<%= build_control(f, @member, nil, :pay_simple_customer_id, 'text').html_safe %>
			<%= build_control(f, @member, nil, :member_type, 'select', :select_list => Member::MEMBER_TYPES).html_safe %>

			<% unless @member.new_record? %>
			<div class="form-group">
				<label class="control-label col-md-3">Change member type</label>
				<div class="col-md-5">
					<div class="radio">
						<%= radio_button_tag "member_type_timing", "immediately", false, :disabled => true %>Immediately
					</div>
					<div class="radio">
						<%= radio_button_tag "member_type_timing", "end_billing_period", true, :disabled => true %>
							End of current billing period
					</div>
				</div>
			</div>
			<% end %>

			<%= build_control(f, @member, nil, :billing_plan, 'select', :select_list => Member::BILLING_PLANS).html_safe %>

			<% unless @member.new_record? %>
				<div class="form-group">
					<label class="control-label col-md-3">Change billing plan</label>
					<div class="col-md-5">
						<div class="radio">
							<%= radio_button_tag "billing_plan_timing", "immediately", false, :disabled => true %>Immediately
						</div>
						<div class="radio">
							<%= radio_button_tag "billing_plan_timing", "end_billing_period", true, :disabled => true %>
								End of current billing period
						</div>
					</div>
				</div>
			<% end %>

			<%= build_control(f, @member, nil, :anniversary_date, 'date').html_safe %>
			<%= build_control(f, @member, nil, :termination_date, 'date').html_safe %>
			<%= build_control(f, @member, nil, :rfid, 'text').html_safe %>
			<%= build_control(f, @member, nil, :key_enabled, 'radio_buttons', {:label => 'rfid enabled', :values_list => [true, false]}).html_safe %>
		</div>
	</div>
</div>
<% end %>

<%= button_to('Delete member', admin_member_path(@member), data: { :confirm => "Are you sure?" },
:method => :delete, :class => 'btn btn-danger') unless @member.new_record? %>
