	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr>
				<th colspan="4"></th>
				<th colspan="2">usage</th>
			</tr>
			<tr>
				<th>member</th>
				<th>member since</th>
				<th>last access</th>
				<th>billing plan</th>
				<th>this month</th>
				<th>last month</th>
			</tr>
		</thead>
		<tbody>
			<% @members.each do |member| %>
			<tr>
				<td><%= link_to member.full_name, edit_admin_member_path(member) %></td>
				<td><%= member.anniversary_date.strftime("%m/%d/%Y") %></td>
				<td><%= last_day_present(member) %></td>
				<td><%= member.billing_plan %></td>
				<td><%= member.usage_this_month %></td>
				<td><%= member.usage_last_month %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
