<div class="container">
	<div class="row">
		<div class="span3">
			<%= build_filters %>
			<h5>Member totals:</h5>
			<ul>
				<li>Current: <%= Member.current.count %></li>
				<li>Full: <%= Member.full.count %></li>
				<li>Full - no work: <%= Member.full_no_work.count %></li>
				<li>Affiliate: <%= Member.affiliate.count %></li>
				<li>Student: <%= Member.student.count %></li>
				<li>Supporting: <%= Member.supporting.count %></li>
			</ul>
			<h5>Non-member totals:</h5>
			<ul>
				<li>Courtesy keys: <%= Member.courtesy_key.count %></li>
				<li>Former: <%= Member.former.count %></li>
			</ul>

		</div>
		<div class="span9">
			<%= button_to 'Add new member', new_admin_member_url, :method => :get, :class => 'btn btn-success' %>
			<table class="table table-bordered table-condensed table-striped">
				<thead>
					<tr>
						<th colspan="3"></th>
						<th colspan="2">usage</th>
					</tr>
					<tr>
						<th>member</th>
						<th>member since</th>
						<th>billing plan</th>
						<th>current billing period</th>
						<th>previous billing period</th>
					</tr>
				</thead>
				<tbody>
					<% @members.each do |member| %>
					<tr>
						<td><%= link_to member.full_name, edit_admin_member_path(member) %></td>
						<td><%= member.anniversary_date.strftime("%m/%d/%Y") %></td>
						<td><%= member.billing_plan %></td>
						<td><%= member.usage_this_billing_period %></td>
						<td><%= member.usage_previous_billing_period %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
