<div class="container">
	<div class="row">
		<div class="span3">
			<%= build_filters %>
			<h5>Member totals:</h5>
			<ul>
				<li>Current: <%= Member.current.count %></li>
				<li>Full: <%= Member.full.count %></li>
				<li>Full - no work: <%= Member.full_no_work.count %></li>
				<li>Affiliate: <%= Member.affiliate.count %></li>
				<li>Student: <%= Member.student.count %></li>
				<li>Supporting: <%= Member.supporting.count %></li>
			</ul>
			<h5>Non-member totals:</h5>
			<ul>
				<li>Courtesy keys: <%= Member.courtesy_key.count %></li>
				<li>Former: <%= Member.former.count %></li>
			</ul>

		</div>
		<div class="span9">
			<%= button_to 'Add new member', new_admin_member_url, :method => :get, :class => 'btn btn-success' %>
			<div id="members-table">
				<%= render :partial => 'members_table' %>
			</div>
		</div>
	</div>
</div>
