<h4>Membership totals:</h4>
<ul>
	<li>total members: <%= Member.all_members.count %></li>
	<li>full: <%= Member.full_members.count %></li>
	<li>full - no work: <%= Member.full_no_work_members.count %></li>
	<li>affiliate: <%= Member.affiliate_members.count %></li>
	<li>student: <%= Member.student_members.count %></li>
	<li>non-members: <%= Member.non_members.count %></li>
</ul>
<%= button_to 'Add new member', new_admin_member_url, :method => :get, :class => 'btn btn-success' %>
<table class="table table-bordered table-condensed table-striped">
	<thead>
		<th>member</th>
		<th>type</th>
		<th>billing plan</th>
		<th>joined</th>
		<th>Delete</th>
	</thead>
	<tbody>
	<% @members.each do |member| %>
		<tr>
			<td><%= link_to member.full_name, edit_admin_member_path(member) %></td>
			<td><%= member.member_type %></td>
			<td><%= member.billing_plan %></td>
			<td><%= member.anniversary_date.strftime("%m/%d/%Y") %></td>
			<td><%= button_to 'Delete', admin_member_path(member), :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger' %></td>
		</tr>
	<% end %>
	</tbody>
</table>
