<table class="table table-bordered table-condensed table-striped">
	<thead>
		<th>date</th>
		<th>member</th>
		<th>type</th>
		<th>plan</th>
		<th>free day</th>
	</thead>
	<tbody>
		<% @logs.each do |log| %>
		<tr>
			<td><%= log.created_at.strftime("%m/%d/%Y %l:%M %P") %></td>
			<td><%= log.member_name %></td>
			<td><%= log.member_type %></td>
			<td><%= log.billing_plan %></td>
			<td><%= log.free_day? %></td>
		</tr>
		<% end %>
	</tbody>
</table>
