<!DOCTYPE html>
<html>
<head>
  <title>LockdownRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<% if admin_signed_in? %>
				<div class="span4">
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
					<ul>
						<li><%= link_to "admins", admin_admins_url %></li>
						<li>members</li>
						<li>usage</li>
						<li><%= link_to "sign out", destroy_admin_session_path, :method => :delete %></li>
					</ul>
				</div>
				<div class="span8">
					<%= yield %>
				</div>
			<% else %>
				<div class="span12">
					<%= yield %>
				</div>
			<% end %>
		</div>
	</div>
</body>
</html>
